@font-face {
  font-family: "GyeonggiBatang";
  src: url("GyeonggiBatang_Bold.otf") format("otf");
  font-weight: bold;
}

@font-face {
  font-family: "GyeonggiBatang";
  src: url("GyeonggiBatang_Regular.otf") format("otf");
  font-weight: 500;
}

@font-face {
  font-family: "GyeonggiBatang";
  src: url("GyeonggiBatang_Medium.otf") format("otf");
  font-weight: normal;
}
